#navigation {

	background-color: #222;
	// margin-bottom: 0;

	@include background-image(linear-gradient(#222,#111));

	border : 1px solid #282828;
	box-shadow : 0 0 1px 0 #000;

	.menu {
		width: 100%;
		overflow: auto;
		line-height: 40px;

		li {
			float : left;
			position: relative;
		}

		a {
			display: block;
			padding: 0 $defaultBoxSpacing;
			border-right : 1px solid #282828;
			box-shadow: 1px 0 1px 0 #121212;
		}
	}	

	.sub-menu {
		display: none;
		li {
			display: none;
		}
	}
}