@import "compass/css3/images";

.search-form {
	position : relative;
	height : 30px;
	input {
		margin : 0;
		position: absolute;
		height : 30px;
	}
	input[type='text'] {
		display : block;
		right: 60px;
		left : 0;
		top : 0;
		padding : 0 7px;
		outline : none;
		//  f3f3f3 -> ededed
		@include background-image(linear-gradient(#f3f3f3,#ededed));
		border : 1px solid #e0e0e0;
		&:focus {
			box-shadow: 0 0 1px 1px #fff inset;
		}
	}
	input[type='submit'] {
		right : 0;
		top : 0;
		width : 60px;
		height: 32px;
		border :none;
		@include background-image(linear-gradient($buttonRedTop,$buttonRedBottom));
		// border : 1px solid #e0e0e0;
		box-shadow : 0 0 2px rgba(0,0,0,.5) inset;
		cursor: pointer;
		color : #fff;
	}
}